body {
	background-image: url('../imgs/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
}

div {
	background-color: white;
	width: 500px;
	height: 200px;
	border: 2px solid black;
	padding: 20px;
	margin: center;
	border-radius: 12px;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	width: 150px;
}

.button:hover {
	background: #2ecc71;
	border-color: #2ecc71;
}

.margin {
	margin-left: 10%;
}
